*{
    box-sizing: border-box;
}
body {
    background-color:rgb(38, 178, 225);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size:  25px;
}

button {
    background-color: black;
    color:rgb(38, 178, 225) ;
}
